body {
  font-family: Arial, sans-serif;
}

.menu {
  position: relative;
  width: 100px;
  margin: 50px;
}

.burger {
  font-size: 40px;
  cursor: pointer;
}

.dropdown {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #080034;
}

.dropdown li {
  color: white;
  padding: 10px;
}

.menu:hover .dropdown {
  display: block;
}
