body {
  margin: 0;
}

table {
  width: 100vw;
  height: 100vh;
  border-collapse: collapse;
}

td {
  width: 50%;
  text-align: center;
  vertical-align: middle;
  font-size: 2vw;
}

.left {
  background-color: rgb(255, 253, 149); text-align: left
}

.right {
  background-color: rgb(251, 162, 208); text-align: left
}
